{% extends "base.html" %}
{% block content %}
  <section id="content">
    {% block content_title %}
      <h2>All articles</h2>
    {% endblock %}

    <ol id="post-list">
    {% for article in articles_page.object_list %}
      <li>
        <article class="hentry">

          <header>
            <h2 class="entry-title">
              <a
                href="{{ SITEURL }}/{{ article.url }}"
                rel="bookmark"
                title="Permalink to {{ article.title|striptags }}"
              >{{ article.title }}</a>

            </h2>
          </header>

          <footer class="post-info">
            <span>
              {{ article.date.date().isoformat() }}
            </span>
            {% if article.author %}
              <address class="vcard author">
                {% if DISPLAY_AUTHOR %}
                  By
                  <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}"
                  >{{ article.author }}</a>
                {% endif %}
              </address>
            {% endif %}
          </footer>

          <div class="entry-content">
            {{ article.content }}
          </div>

        </article>
      </li>
    {% endfor %}
    </ol>

    {% include 'pagination.html' %}
  </section>
{% endblock content %}
